*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

// ## Colors

// ### Primary

// #### Text

$Purple300: hsl(276, 100%, 81%);
$Purple600: hsl(276, 55%, 52%);
$Gray500: hsl(270, 7%, 64%);
$Gray300: hsl(206, 6%, 79%);
$Purple950: hsl(271, 36%, 24%);

// #### Gradients

// These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient:

$Pink-500: hsl(293, 100%, 63%);
$Purple-500: hsl(264, 100%, 61%);

// ### Secondary

$White: hsl(0, 100%, 100%);
$Gray100: hsl(270, 20%, 96%);
$Purple950: hsl(271, 36%, 24%);
$Pink400: hsl(289, 100%, 72%);

@mixin media($breakpoint){
    @if $breakpoint == 'mobile'{
        @media (min-width: 375px){
            @content;
        }
    }@else if $breakpoint == 'desktop'{
        @media (min-width: 1024px){
            @content;
        }
    }
}

body{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $Gray300;
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $Gray300;

    // &::before{
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     content: '';
    //     width: 200px;
    //     height: 400px;
    //     background-image: linear-gradient($Pink-500, $Purple-500);
    //     z-index: -1;
    // }

    @include media('desktop'){
        flex-direction: row;
    }

    &--phone{
        position: relative;
        width: 350px;
        height: 100%;
        margin-block: 2rem;
        background-color: $Gray100;
        border-radius: 1rem;
        padding: .5rem;
        overflow: hidden;

        @include media('desktop'){
            flex: 0 0 350px;
        }

        &::after{
            position: absolute;
            top: -30px;
            left: 50%;
            content: '';
            transform: translateX(-50%);
            background-color: $White;
            width: 60%;
            height: 50px;
            border-radius: 30px;
        }

        &--header{
            width: 100%;
            height: auto;
            border-radius: 1rem 1rem 0 0;
            padding: 1rem;
            background-image: linear-gradient($Pink-500, $Purple-500);
            display: flex;
            gap: 1rem;
            align-items: center;

            &--avatar{
                width: 40px;
                height: 40px;
                border: 2px solid $White;
                border-radius: 50%;
                overflow: hidden;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &--name{
                font-size: .7em;
            }
        }

        &--message{
            background-color: $Gray300;
            padding: 1rem;
            border-radius: 0 0 1rem 1rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .message{
                border-radius: .8rem;
                padding: .8rem;
                width: 190px;
            }

            .another-message{
                background-color: $Gray100;
                color: $Purple600;
                // box-shadow: 2px 2px 4px mix(black, $Purple600, 40%);
                box-shadow: 2px 2px 4px rgba($Purple600, .6);
                align-self: flex-start;
            }

            .your-message{
                background-color: $White;
                color: $Purple300;
                box-shadow: 2px 2px 4px rgba($Purple300, .6);
                align-self: flex-end;
            }

            .photos{
                align-self: flex-end;
                display: flex;
                gap: 1rem;
                .img{
                    width: 60px;
                    height: 60px;
                    border-radius: .8rem;
                    overflow: hidden;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .message-button{
                display: flex;
                align-items: center;
                gap: .8rem;
                width: 250px;
                padding: .8rem;
                border-radius: .8rem .8rem .8rem 0;
                background-image: linear-gradient($Pink-500, $Purple-500);
                color: $Purple300;

                .circle{
                    width: 20px;
                    height: 20px;
                    border-radius: 100%;
                    border: 2px solid $Purple300;
                }

                span:nth-child(3){
                    color: $White;
                    font-weight: bolder;
                    margin-left: auto;
                }
            }

            .write-message{
                position: relative;
                width: 100%;
                padding: .8rem;
                border-radius: 1rem;
                background-color: $White;

                &::after{
                    position: absolute;
                    content: '';
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: $Purple950;
                }
            }
        }
    }
}