*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

// ## Colors

// ### Primary

// #### Text

$Purple300: hsl(276, 100%, 81%);
$Purple600: hsl(276, 55%, 52%);
$Gray500: hsl(270, 7%, 64%);
$Gray300: hsl(206, 6%, 79%);
$Purple950: hsl(271, 36%, 24%);

// #### Gradients

// These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient:

$Pink-500: hsl(293, 100%, 63%);
$Purple-500: hsl(264, 100%, 61%);

// ### Secondary

$White: hsl(0, 100%, 100%);
$Gray100: hsl(270, 20%, 96%);
$Pink400: hsl(289, 100%, 72%);

@mixin media($breakpoint){
    @if $breakpoint == 'mobile'{
        @media (min-width: 375px){
            @content;
        }
    }@else if $breakpoint == 'desktop'{
        @media (min-width: 1024px){
            @content;
        }
    }
}

body{
    width: 100vw;
    height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: $Gray100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &::before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        background-image: linear-gradient(to right,$Purple600, $Purple300);
        width: 300px;
        height: 500px;
        border-radius: 0 0 30% 30%;
    }

    @include media('desktop'){
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    &--phone{
        position: relative;
        display: flex;
        flex-direction: column;
        // gap: .8rem;
        background-color: $White;
        width: 350px;
        height: auto;
        // margin-block-start: 2rem;
        border-radius: .8rem;
        padding: 1rem;
        overflow: hidden;

        &::after{
            position: absolute;
            left: 50%;
            top: -15px;
            transform: translateX(-50%);
            content: '';
            width: 50%;
            height: 40px;
            background-color: white;
            border-radius: 1rem;
        }

        @include media('desktop'){
            flex-shrink: 0;
        }

        &--header{
            width: 100%;
            padding: 1rem;
            display: flex;
            align-items: center;
            gap: .8rem;
            background-image: linear-gradient(to right,$Purple-500 60%, $Pink-500);
            border-radius: .8rem .8rem 0 0;

            &--avatar{
                width: 40px;
                height: 40px;
                overflow: hidden;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                    border: 2px solid $White;
                }
            }

            &--name{
                font-size: .7em;

                h2{
                    color: $White;
                }

                h3{
                    color: $Purple300;
                }
            }
        }

        &--message{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            background-color: $Gray100;
            padding: .8rem;
            border-radius: 0 0 .8rem .8rem;

            .message{
                padding: .8rem;
                border-radius: .8rem;
                width: 190px;
            }

            .another-message{
                background-color: $Purple300;
                color: $Purple600;
            }

            .your-message{
                align-self: flex-end;
                background-color: $White;
                color: $Gray300;
            }

            .photos{
                display: flex;
                gap: 1rem;
                align-self: flex-end;

                .img{
                    width: 60px;
                    height: 60px;
                    
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: .8rem;
                    }
                }
            }

            .message-button{
                display: flex;
                gap: .4rem;
                width: 75%;
                padding: .8rem;
                border-radius: .8rem;
                background-image: linear-gradient(to right,$Purple-500 60%, $Pink-500);

                .circle{
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 2px solid $Purple300;
                    background-color: transparent;
                }

                span:nth-child(2){
                    color: $Purple300;
                }

                span:nth-child(3){
                    color: $White;
                    font-weight: bolder;
                    margin-left: auto;
                }
            }

            .write-message{
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: $White;
                border-radius: 1rem;
                overflow: hidden;

                input{
                    padding: 1rem;
                    flex: 0 0 80%;
                    border: none;
                    outline: none;

                    &::placeholder{
                        color: $Gray300;
                    }
                }

                .circle{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: $Purple950;
                    margin: auto;
                    text-align: center;
                    line-height: 30px;
                    color: $White;
                    font-weight: bolder;
                }
            }
        }
    }

    &--content{
        width: 90%;
        // margin: 2rem auto;

        h1{
            text-align: center;
            font-size: 3em;
        }

        p{
            margin-block: 1rem;
            text-align: center;
            line-height: 2;
            color: $Gray500;
        }

        @include media('desktop'){
            width: 40%;
        }
    }
}